body {
	background-image: url("../images/diamond.png");
}

.header {
	width: auto;
	text-align: center;
	background-color: white;
	border: 1px solid;
	padding: 10px 5px;
	margin-bottom: 10px;
}

.col-md-4 {
	background-color: white;
	border: 1px solid;
	padding: 20px;
	margin: 10px;
}

.col-md-6 {
	background-color: white;
	border: 1px solid;
	padding: 15px;
	margin: 10px;
}

.col-md-12 {
	width: 100%;
}

.crystal-image {
	width: 120px;
	clear: all;
	border: 1px solid;
	margin: 10px;
}

