body {
	background-image: url("../images/grey.png");
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 80px;
}

.header {
	background-image: url(../images/skulls.png);
	font-family: 'Barrio', cursive;
	width: auto;
	text-align: center;
	border: 1px solid;
	padding: 10px;
	margin-bottom: 10px;
}

.col-md-5 {
	background-image: url(../images/skulls.png);
	color: red;
	border: 1px solid black;
	padding: 20px;
	margin: 10px;
}

.col-md-6 {
	background-image: url(../images/skulls.png);
	border: 1px solid;
	padding: 15px;
	margin: 10px;
}

.col-md-12 {
	width: 100%;
}

.crystal-image {
	width: 120px;
	clear: all;
	border: 1px solid;
	margin: 10px;
}
